<!--<div class="row">
    <div class="col-cs-12">
        <button class="btn btn-success">New Turnier</button>
    </div>
</div>
<hr>-->
<div class="flexiRexi">
    <i class="bi bi-table"></i>
    <div class="form-check form-switch align-div-center">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" [(ngModel)]="showCards">
    </div>
    <i class="bi bi-postcard"></i>
</div>

<div  class="bd-example-snippet bd-code-snippet" *ngIf="showCards">
    <div class="bd-example m-0 border-0">
        <div class="row  row-cols-1 row-cols-md-2 g-4">
            <app-turnier-item-card *ngFor="let item of turniers; let i = index" [turnierItem] = item [index]= i></app-turnier-item-card>
        </div>
    </div>
</div>


<table class="table" *ngIf="!showCards">
    <thead>
      <tr>
        <th>#</th>
        <th>Titel</th>
        <th>Bezeichnung</th>
        <th>Ort</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let itemrow of turniers; let i = index">
            <td>{{itemrow.titel}}</td>
            <td>{{itemrow.description}}</td>
            <td>{{itemrow.location}}</td>
            <td>{{itemrow.host}}</td>
            <td>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#turnierItemDetail" (click)="setCurrentTurnier(itemrow)">
                    Detail
                </button>
            </td>
        </tr>
    </tbody>
</table>

<app-turnier-item-detail *ngIf="currentTurnier" [turnierItemChild]=currentTurnier></app-turnier-item-detail>
