<div class="full_height_content">
<div class="d-flex h-100 text-center">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto"></header>
    <main class="px-3">
        <br>
        <h1>Niederösterreichische Volleyball Turnier Übersicht.</h1>
        <p class="lead">Diese seite bietet eine Übersicht über alle Volleyballturniere in Niederösterreich und Umgebung.</p>
        <br>
      </main>
      <footer class="mt-auto text-black-50">
        <p>Erstellt von Dominik Hauer (UV Gföhl)</p>
      </footer>
</div>
</div>
</div>